:root {
  --color-primary: #f4a261;
  --color-primary-light: #e9c46a;
  --color-secondary: #264653;
  --color-text: grey;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-secondary);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 320px;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  border-radius: 5px;
  border: solid 1px var(--color-primary);
  padding: 0.5rem calc(0.5rem + 24px) 0.5rem 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: inherit;
  outline: solid 1px transparent;
  transition: ease 0.2s;
  max-width: 50vw;
}

input:focus {
  border: solid 1px var(--color-primary-light);
  outline: solid 1px var(--color-primary-light);
}

.copy {
  right: 0.25rem;
  position: absolute;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary-light);
  text-transform: uppercase;
  color: var(--color-secondary);
  height: 80%;
  aspect-ratio: 1 / 1;
  transform: scale(1);
  transition: ease 0.2s;
  visibility: hidden;
  opacity: 0;
}

.copy.visible {
  opacity: 1;
  visibility: visible;
}

.copy:active {
  transform: scale(0.9);
}

.copy svg {
  width: 100%;
  height: 100%;
}

.spinner {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  visibility: hidden;
  opacity: 0;
}

.input.loading .spinner {
  visibility: visible;
  opacity: 1;
}

.spinner::after,
.spinner::before {
  content: '';
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  right: 0;
  top: 0;
  animation: spin 2s linear infinite;
}

.spinner::after {
  animation-delay: 1s;
}

@keyframes spin {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}

label {
  margin-left: 5px;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background: var(--color-text);
  display: block;
  border-radius: 100px;
  position: relative;
  text-indent: calc(100% + 5px);
  line-height: 24px;
  color: var(--color-text);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: var(--color-secondary);
  border-radius: 20px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-primary);
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
